@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100&display=swap');

#winner {
  min-height: 50px;
  color: #b925ae;
  font-family: 'Londrina Solid', cursive;
  font-size: 50px;
}

#next {
  min-height: 50px;
  color: #b925ae;
  font-family: 'Londrina Solid', cursive;
  font-size: 50px;
  margin: 10px;
}

#content {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

#title {
  color: #1c6e8e;
  font-family: 'Dela Gothic One', cursive;
  font-size: 50px;
}

#player1, #player2 {
  color: #1c6e8e;
  font-family: 'Dela Gothic One', cursive;
  font-size: 15px;
  padding: 7px;
}

#player1Score {
  margin-top: 15px;
  padding: 1rem;
  border: 0.5rem solid rebeccapurple;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  background: rebeccapurple;
  color: white;
}

#player2Score {
  margin-top: 15px;
  padding: 1rem;
  border: 0.5rem solid rebeccapurple;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  background: rebeccapurple;
  color: white;
}

#group {
  display: inline-block;

}

#bottomElements {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

#bottomElements input, span, button {
  text-align: center;
  margin: 10px;
}

#reset {
  margin: 10px;
}

.square {
  background-color: #34495e;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex; /* vertical centers the text in the box */
  justify-content: center; /* horizontal centers text into box */
  align-items: center; /* vertical centers text */
}

.grid {
	width: 300px;
	height: 300px;
	margin: 0 auto;
  background-color: white;
  color: red;
  border: 0px solid #2c3e50;
  border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.cross:before {
  content: "X";
  background-color: #34495e;
  font-size: 1em;
  color: #FFF;
}

.naught:before {
  content: "O";
  background-color: #34495e;
  font-size: 1em;
  color: #FFF;

}

.win {
  background-color: pink;
}

::placeholder {
  color: #1c6e8e;
  font-family: 'Dela Gothic One', cursive;
}

label[for=player1] {
  display: block;
  text-align: left;
}

label[for=player2] {
  display: block;
  text-align: right;
}

label {
  color: #b925ae;
  font-family: 'Londrina Solid', cursive;
  font-size: 30px;
}

button {
  margin-top: 15px;
  padding: 1rem;
  border: 0.5rem solid rebeccapurple;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  background: rebeccapurple;
  color: white;
  font-family: 'Dela Gothic One', cursive;
}
