@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100&display=swap');

#winner {
  color: #b925ae;
  font-family: 'Londrina Solid', cursive;
  font-size: 50px;
}

#content {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

#title {
  color: #1c6e8e;
  font-family: 'Dela Gothic One', cursive;
  font-size: 50px;
}

.square {
  background-color: #34495e;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex; /* vertical centers the text in the box */
  justify-content: center; /* horizontal centers text into box */
  align-items: center; /* vertical centers text */
}



.grid
{
	width: 600px;
	height: 600px;
	margin: 0 auto;

  background-color: white;
  /* background-color: #34495e; */
  color: red;
  border: 0px solid #2c3e50;
  border-radius: 10px;

	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.red:before {
  content: "X";
  background-color: #34495e;
  font-size: 2em;
  color: #FFF;

}

.blue:before{
  content: "O";
  background-color: #34495e;
  font-size: 2em;
  color: #FFF;

}

.win {
  background-color: pink;
}



.clear {
  clear: both;
}
